@model List<ApplicationUser>
<div class="container mt-5 mb-5 ">
    @if (Model != null && Model.Any())
    {
        <div class="table-responsive">
            <table class="table table-bordered table-hover align-middle text-center">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                        <th>Created At</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.FirstName @user.LastName</td>
                            <td>@user.Email</td>
                            <td>@user.PhoneNumber</td>
                            <td>@user.Address</td>
                            <td>@user.CreatedAt.ToString()</td>
                            <td>
                                <a asp-action="Details" asp-route-id="@user.Id"
                                   class="btn btn-dark" title="View Order Details">
                                    Details
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="alert alert-info text-center mb-5">
            <p>No Orders found.</p>
        </div>
    }
</div>